body {
    background-color: cornsilk;
}

.error {
    font-size: small;
    color: red;
}

.valid {
    font-size: small;
    color: green;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}