<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:6.0.5" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Spring-4.3.8.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-security:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-thymeleaf:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.0.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.integration:spring-integration-security:4.3.9.RELEASE" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring/web/Web" />
    </root>
  </artifact>
</component>