<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="spring:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:6.0.5" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Spring-4.3.8.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-security:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-thymeleaf:1.5.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.0.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.integration:spring-integration-security:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-velocity:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-velocity:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-template:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-servlet:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-servlet:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-servlet-wildcard:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-mustache:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-jsp:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-freemarker:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-request-api:1.0.6" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-ognl:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-mvel:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-jsp:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-freemarker:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-extras:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-el:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-core:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-compat:3.0.7" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-autotag-core-runtime:1.2" />
          <element id="library" level="project" name="Maven: org.apache.tiles:tiles-api:3.0.7" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-jdk14:1.7.25" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: commons-digester:commons-digester:2.1" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.9.3" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring/web/Web" />
    </root>
  </artifact>
</component>